<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Make Appointment</title>
  </head>
  <body>
    <div class="appointment-wrapper">
      <h1 class="title">Title : <%= appoint.title %> </h1>


      <div class="body-message"><%=appoint.message%></div>
    </div>
  </body>
</html>
